@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 antialiased;
  }
}



/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-purple-400 to-pink-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply from-purple-500 to-pink-500;
}